/* foundation overrides */
table thead, table tbody, table tfoot {
  background: transparent;
}

/* Section 2 gradient style */
.four-piece-section {
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%), url('../images/stationed.jpg') no-repeat;
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%), url('../images/stationed.jpg') no-repeat;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%), url('../images/stationed.jpg') no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  background-size: cover;
  background-position: 0% 25%;
}
/* //// */
/* Section 2 mobile conditions (may not be important) */
@media (min-width: 800px) {
  .four-piece-section {
    padding: 0 6rem 9rem 6rem;
  }
}

@media (max-width: 1000px){ .four-piece-section {
  padding: 0 0 9rem 0;
}
}
/* //// */

/* Section 2 CSS// */
.four-piece-section h1 {
  text-align: center;
}

.four-piece-section section {
  padding-left: 4.875rem;
}

.four-piece-section section .img-placeholder {
  float: left;
  margin-left: -3.9375rem;
}

.four-piece-section .img-placeholder{
  background-image: url('../images/check2.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 3rem;
  width: 3rem;
}

.four-piece-section section + section, .four-piece-section h1 {
  margin-bottom: 3rem;
}

/* ////// */

/* section 3 CSS */
.quote-box {
  text-align: center;
  padding: 1.5rem 3rem 1.5rem 3rem;
  font-family: Minion Pro, sans-serif;
  background-color:	#F8F8FF;
  /* background-color: grey; */
}

.quote-box h1 {
  display: inline-block;
  position: relative;

}

.quote-box h1::after {
  position: absolute;
  bottom: -10;
  left: 0;
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: gold;
}
/* //// */


/* Section 4 CSS  */
.left-info-box section:nth-child(2) {
  position: relative;
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%), url('../images/takeoff2.jpg') no-repeat center;
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%), url('../images/takeoff2.jpg') no-repeat center;
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%), url('../images/takeoff2.jpg') no-repeat center;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  background-size: cover;
}

.left-info-box section:nth-child(2)::after {
  /* background-image: url('../images/waiting.jpg'); */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);

  /* ----- */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

/* ////// */


/* Section 5 CSS */
.right-info-box section:nth-child(1) {
  position: relative;
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%), url('../images/waiting.jpg') no-repeat center;
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%), url('../images/waiting.jpg') no-repeat center;
  background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%), url('../images/waiting.jpg') no-repeat center;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  background-size: cover;
}

.right-info-box section:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);

  /* ----- */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
