.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
    display: none;
}

.accordion > ul > li {
    border-top: 1px solid grey;
    padding: 0;
    border-bottom: 1px solid grey;
    background: url(../images/down-arrow.png) no-repeat;
    background-position: 99% 1.75rem;
}

.accordion > ul > li > a {
    padding: 1.4374rem 0 1.5rem 0;
    height: 100%;
    margin: 0;
}
