/*offset box*/
/* This section of the CSS is unedited and copied pasted here from your integration style sheet */
.offset-box {
	position: relative;
	padding: 6rem 0 3rem 0;
}

.offset-box.left {
	padding-left: 1.875rem;
}

.offset-box.right {
	padding-right: 1.875rem;
}

.offset-box.left::after {
	content:'';
	position: absolute;
	top: 2.25rem;
	right: -4.5rem;
	display: block;
	width: calc(100% + 4.5rem);
	height: calc(100% - 4.5rem);
	outline: 2px solid #dcdcdc;
	z-index: 2;
	pointer-events: none;
}

.offset-box.right::after {
	content:'';
	position: absolute;
	top: 2.25rem;
	left: -4.5rem;
	display: block;
	width: calc(100% + 4.5rem);
	height: calc(100% - 4.5rem);
	outline: 2px solid #dcdcdc;
	z-index: 2;
	pointer-events: none;
}

/* Commenting this out because it screws with the text alignment. Be aware to add needed CSS to avoid it from integration */
/* .offset-box ,
.offset-box  * {
	text-align: center;
} */

.offset-box  h1 {
	font-size: 1.875rem;
}

.offset-box  h2 {
	font-family: 'Minion Pro', serif;
	font-size: 1.25rem;
	line-height: 1.5rem;
	color: #666;
}

.offset-box p {
	margin-bottom: 4.5rem;
}

.offset-box  ul {
	margin-bottom: 3rem;
}

.offset-box  ul li {
	margin-bottom: .75rem;
}

.offset-box  ul li:last-child:nth-child(even) {
	margin-bottom: 3.75rem;
}

/* No buttons on this page. Not needed */
/* .offset-box .button {
	margin: 0 .5rem 1.5rem .5rem;
} */

/*info image*/

.info-image {
	position: relative;
	height: 33rem;
	overflow: hidden;
}

.info-image img {
	position: absolute;
	width: auto;
	height: 100%;
}

/* My CSS Section */
/* This style makes the changes necessary for the second image */
body article:nth-of-type(3) .info-image img {
	position: absolute;
/* this line was added only to the second img to correct alignment */
	right: -150px;
/* ---- */
	width: auto;
	height: 100%;
}

.offset-box > h1, .box-heading h1 {
  padding-bottom: 1.5rem;
}

/* MY CODE */
.simple-box {
  text-align: center;
}

.simple-box p {
padding: 0 3rem 0 3rem;
}

.info-box {
  padding: 3rem;
  /* outline-color: black;
  outline-style: solid;
  outline-width: 1px; */
}

/* overrides */
.info-box ul, .offset-box ul {
  margin-left: 0;
}

.info-box ul, .offset-box ul {
  margin-left: 0;
}
