/* Foundation overrides */
.accordion-title::before {
  display: none;
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
  border-style: none;
}
/* /// */

a.accordion-title {
  background-image: url('../images/arrow-up-white.png');
  background-position: 95% 50%;
  background-size: 1.5rem auto;
  background-repeat: no-repeat;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
  border-style: none;
  outline-style: solid;
  outline-color: white;
  outline-width: thin;
}

ul.menu.vertical.accordion-menu {
  /* min-height: 30rem; */
}

a.accordion-sub {
  background-image: url('../images/arrow-up-black.png');
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-size: 1.5rem auto;
}

.accordion-menu .nested.is-accordion-submenu {
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 0px;
}

.nested > li .is-accordion-submenu-item p{
  padding-left: 15px;
}

.sub-list > li {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #c1c1c1;
}


.question, .question:hover {
  border: 0;
  margin-bottom: 0;
  background-color: #003366;
  color: white;
}

a.accordion-title {
  color: white;
  background-color: #003366;
}

.accordion-title:hover, .accordion-title:focus {
  background-color: #003366;
}
