/* danny's overrrides */
.fees-page ul.simple-list {
        padding-top: 1.4375rem;
        /* padding-bottom: 1.5rem; */
}

article {
    margin-bottom: 3rem;
}
/* //// */

.fees-page select {
    background: url(../images/down-arrow.png) no-repeat;
    background-position: 90%;
    background-size: 1rem;
    width: 100px;
    /* border-radius: 6px; */
}

/* table css*/
.fees-page .accordion .accordion-content table {
    margin-top: 1.4375rem;
    margin-bottom: 1.5rem;
}

.fees-page .simple-table {
    margin-bottom: 1.5rem;
}

.fees-page table:not(.simple-table) th {
    border-color: transparent;
}

.fees-page .simple-table thead {
    background-color: #465064;
}

.fees-page .simple-table thead th {
    color: white;
}

.fees-page .simple-table tbody th,
.fees-page .simple-table tbody td {
    border-color: transparent;
    border-bottom: 1px solid lightgrey;
}

.fees-page .simple-table tbody td:not(:first-of-type),
.fees-page .simple-table thead th:not(:first-of-type),
.fees-page .simple-table tbody th {
    text-align: right;

}

.fees-page .simple-table tbody tr:nth-of-type(2n+2) {
    background-color: #efefef;
}
