/* danny overrides */
.offset-box.right {
    padding-right: 4.5rem;
}

.offset-box.left {
    padding-left: 4.5rem;
}

.page-cover {
    height: 36rem;
    background: url('../images/flight-training-courses-los-angeles.jpg') no-repeat center;
    background-size: cover;
    margin-bottom: 6rem;
    position: relative;
}

.page-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.cover-content {
    z-index: 1;
    width: 100%;
    text-align: center;
}

.main.cover-content {
 position: absolute;
 bottom: 1.5rem;
}

.cover-content a {
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    margin-left: 2rem;
    margin-right: 2rem;
}

.info-carousel > div > div > div .cell {
    position: relative;
}

.info-carousel h1 {
    margin-bottom: 0;
}

.info-carousel h2 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.two-button {
    display: flex;
    justify-content: space-between;
}

.info-carousel a.button {
    padding: 1rem 3rem;
    margin-bottom: 2.875rem;
}

.info-carousel th {
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
    border: 1px solid lightgrey;
    outline: 1px solid lightgrey;
}

.info-carousel p {
    margin-bottom: 1rem;
}

.info-carousel table p {
    margin-bottom: 0;
}

.offset-box.right {
    right: 2px;
}

.offset-box.left {
    left: 2px;
}


.second.cover-content {
 position: absolute;
 height: 100%;
 margin-left: auto;
 margin-right: auto;
 padding-top: 3rem;
}

.second.cover-content a, .second.cover-content h1, .second.cover-content span {
    font-family: 'roboto bold';
    font-size: 4.5rem;
    color: white;
    line-height: 7.5rem;
    margin-bottom: 0;
}

.second.cover-content span {
    font-size: 7.5rem;;
}

.second.cover-content a {
    background-color: red;
    line-height: 1.5rem;
    width: 250px;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
