footer {
    background-color: #233F5D;
    padding-top: 3rem;
}
/*
footer * {
  font-family: 'Roboto';
  } */

footer h1 {
    font-size: 1.5rem;
    color: white;
}

footer h2 {
    font-size: 1rem;
    color: grey;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: -3rem;
}

footer p, span {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
}

footer ul {
    color: white;
}

i {
  width: 25px;
}

.fas,
.fab {
    color: white;
}

.footer-logo {
  height: 3rem;
  margin-bottom: 4.5rem;
}

.footer-locations,
.footer-social {
    border-right: 2px solid white;
    /* padding-right: 2px; */
}

.footer-contact img {
    max-height: 3rem;
}

.footer-contact div {
  height: 1.5rem;
}

.footer-contact a {
    margin-left: 25px;
    margin-right: 25px;
}

.footer-social div {
  margin-bottom: 1.5rem;
}

.social-container {
  margin: 0px auto;
  width: auto;
}

.footer-social a {
  color: white;
  /* margin: 0px 25%; */
}

.footer-newsletter h2 {
    margin-bottom: 3rem;
}

.footer-newsletter input[type=submit] {
    position: relative;
    top: .375rem;
    height: 2.25rem;
    line-height: 1.5rem;
    padding: .3125rem .5rem .3125rem .5rem;
    border: .0625rem solid grey;
    border-radius: 0;
    margin-bottom: 2.25rem;
    background-color: grey;
    color: white;
}

.footer-navigation ul {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin-left: 0;
}

.footer-navigation li {
    margin-right: 25px;
}

footer .menu a {
  color: white;
}
