/* test */
footer {
    background-color: #233F5D;
    padding-top: 3rem;
}

footer h1 {
    font-size: 1.5rem;
    color: white;
}

footer h2 {
    font-size: 1rem;
    color: grey;
    text-transform: uppercase;
    margin-bottom: .75rem;
    margin-top: -3rem;
    margin-bottom: .75rem;
}

footer p, span {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
}

footer ul {
    color: white;
}

.footer-contact,
.footer-locations,
.footer-social,
.footer-newsletter {
    margin-bottom: 2.25rem;
}

.fas,
.fab {
    color: white;
    font-size: 1.5rem;
}

.footer-logo {
  margin-bottom: 4.5rem;
  height: 3rem;
}

.footer-locations,
.footer-social {
    border-right: 1px solid white;
}

.footer-contact img {
    max-height: 3rem;
}

.footer-contact div {
  height: 1.5rem;
}

.footer-contact a {
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
}

.footer-contact a::after {
  content: '';
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.125rem;
  margin-left: -1.125rem;
  border: 1px solid white;
  border-radius: 50px;
}

.footer-locations h1 {
    margin-bottom: 2.25rem;
}

.footer-social a {
  display: block;
  margin-bottom: 1.5rem;
  color: white;
}

.footer-social i {
  display: block;
  float: left;
  width: 35px;
}

.footer-newsletter h2 {
    margin-bottom: 3rem;
}

.footer-newsletter input[type=submit] {
    position: relative;
    top: .375rem;
    height: 2.25rem;
    line-height: 1.5rem;
    padding: .3125rem .5rem .3125rem .5rem;
    border: .0625rem solid grey;
    border-radius: 0;
    margin-bottom: 2.25rem;
    background-color: grey;
    color: white;
}

.footer-navigation ul {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin-left: 0;
}

.footer-navigation li {
    margin-right: 25px;
}

footer > div:last-of-type {
    border-top: 1px solid white;
    padding-top: 1.5rem;
}

.footer-navigation {
  margin: 0;
}

.footer-navigation a {
  color: white;
}
