html, body {margin: 0; height: 100%; overflow: hidden}

nav a {
    color: grey;
}

/* darkmode transition */
.header-nav ul,
.nav-contact-link {
    transition: 1s;
}

.header-nav {
    -moz-box-shadow:    0 0 10px rgba(0, 0 , 0, .5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0 , 0, .5);
    box-shadow:         0 0 10px rgba(0, 0 , 0, .5);
    padding: 0;
    border-bottom: 1px solid lightgrey;
    z-index: 9999;
}

.header-nav, .header-nav ul {
    background-color: white;
}

.header-nav a.sidenav-toggle {
    margin: 0;
    padding: 0;
    width: 4.5rem;
    height: 4.5rem;
}

.header-nav .sidenav-toggle {
    background-image: url('../images/bars-toggle.svg');
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: center;
    transition: .5s;
}

.header-nav .sidenav-toggle[aria-expanded="true"] {
    background-image: url('../images/times-toggle.svg');
    transform: rotate(360deg);
    transition: .5s;
}

.header-nav .logo img{
    height: 2rem;
}

.header-nav .logo {
    margin-right: auto;
    /* margin-left: auto; */
}

.header-nav ul {
    margin: 0;
    padding: 0;
}

.header-nav .top-bar-left {
    padding-left: .75rem;
    /* padding-right: .75rem; */
}

.header-nav .top-bar-left li:not(.nav-logo-container) a,
.header-nav .top-bar-right li a {
    margin-bottom: 0;
    height: 100%;
    line-height: 4.5rem;
}

.header-nav .top-bar-left li:not(.nav-logo-container) a:hover,
.header-nav .top-bar-right li:not(.nav-contact-link) a:hover {
    text-decoration: none;
    /* color: #0075ff; */
}

.header-nav .top-bar-left li:not(.nav-logo-container),
.header-nav .top-bar-right li:not(.nav-contact-link) {

}

.header-nav .top-bar-left li:not(.nav-logo-container):hover,
.header-nav .top-bar-right li:not(.nav-contact-link):hover,
.header-nav .menu .is-active > a {
    background-color: #efefef;
    /* transition: .25s; */
}

.header-nav .nav-language,
.header-nav .menu .is-active > a  {
    background: url('../images/arrow-down-black.png') no-repeat 64px;
    background-size: 1rem;
    width: 6rem;
}

.header-nav .nav-language img,
.header-nav .nav-language-mobile img {
    height: 2.25rem;
}

.header-nav .flyout-language, .is-dropdown-submenu {
    top: 4.5rem;
    right: -1px !important;
    border-color: lightgrey;
    border-bottom: none;
}

.flyout-language {
    box-shadow: 2px 5px 10px rgba(0, 0 , 0, .15);

}

.header-nav .flyout-language a {
    border-bottom: 1px solid lightgrey;
    margin-top: -1px;
}

.header-nav .nav-contact-link {
    background-color: #ff6933;
    font-family: "roboto bold";
}

.header-nav .nav-contact-link a {
    color: white;
    text-align: center;
}

.header-nav .nav-contact-link a:hover {
    text-decoration: underline;
}

/* Responsive////////////////////////////////// */

@media (min-width: 640px) and (max-width: 780px) {
    .header-nav .nav-contact-link {
        display: none;
    }
}

@media (min-width: 640px) and (max-width: 660px) {
    .header-nav .logo img {
        height: 1.5rem;
    }
}


@media (max-width: 640px) {
    .nav-language {
        position: absolute;
        bottom: 0;
        right: -100vw;
    }

    .logo {
     margin-left: calc(50vw - 10rem);
    }
}
