html, body {margin: 0; height: 100%; overflow: hidden}

.header-nav ul,
.nav-contact-link {
    transition: 1s;
}

nav a {
    color: grey;
}

/* danny overrides */
.header-nav {
    -moz-box-shadow:    0 0 10px rgba(0, 0 , 0, .5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0 , 0, .5);
    box-shadow:         0 0 10px rgba(0, 0 , 0, .5);
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    border-bottom: 1px solid lightgrey;
    z-index: 9999;
}

.header-nav, .header-nav ul {
    background-color: white;
}

.header-nav ul {
    height: 4.5rem;
    margin: 0;
    padding: 0;
}

.header-nav a.sidenav-toggle {
    margin: 0;
    padding: 0;
    width: 4.5rem;
    height: 4.5rem;
}

.header-nav .sidenav-toggle {
    background-image: url('../images/bars-toggle.svg');
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    transition: .5s;
}

.header-nav .sidenav-toggle[aria-expanded="true"] {
    background-image: url('../images/times-toggle.svg');
    transform: rotate(360deg);
    transition: .5s;
}

.nav-logo-container {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
}

.header-nav .nav-logo-container a {
    margin-bottom: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header-nav .nav-logo-container img {
    margin-top: .75rem;
    height: 3rem;
}

.header-nav .top-bar-left li:not(.nav-logo-container) a,
.header-nav .top-bar-right li a {
    margin-bottom: 0;
    height: 100%;
    line-height: 4.5rem;
}

.header-nav .top-bar-left li:not(.nav-logo-container) a:hover,
.header-nav .top-bar-right li:not(.nav-contact-link) a:hover {
    text-decoration: none;
    /* color: #0075ff; */
}

.header-nav .top-bar-left li:not(.nav-logo-container),
.header-nav .top-bar-right li:not(.nav-contact-link) {

}

.header-nav .top-bar-left li:not(.nav-logo-container):hover,
.header-nav .top-bar-right li:not(.nav-contact-link):hover {
    background-color: #efefef;
    /* transition: .25s; */
}

.header-nav .top-bar-right .float-right {
    padding: 0;
}

/* language element */
.view-more {
    /* margin-left: 1.5rem;
    margin-left: 1.5rem; */
}

.header-nav .nav-contact-link {
    /* position: relative; */
    /* left: .5rem; */
    background-color: #ff6933;
    font-family: "roboto bold";
    /* width: 150px; */
}

.header-nav .nav-contact-link a {
    color: white;
    text-align: center;
}

.header-nav .nav-contact-link a:hover {
    text-decoration: underline;
}
