.sidenav {
    margin-top: 4.5rem;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    transition: 0.25s;
    border-right: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

.sidenav ul {
    background-color: #f2f2f2;
}

/* .sidenav::after {
    content: '';
    position: absolute;
    background-color: red;
    width: 5px;
    height: 100%;
    top: 12rem;
    left: 250px;
    z-index: 1;
    -moz-box-shadow:    0 15px 10px rgba(0, 0 , 0, .5);
    -webkit-box-shadow: 0 15px 10px rgba(0, 0 , 0, .5);
    box-shadow:         0 15px 10px rgba(0, 0 , 0, .5);

} */

.sidenav a:not(.closebtn) {
    font-size: 1rem;
    display: block;;
    margin-top: -1px !important;
    border-bottom: 1px solid lightgrey;
}

.sidenav a:not(.closebtn):hover {
    background-color: #e6e6e6;
    width: 250px;
    margin-left: -1rem !important;
    padding-left: 2rem;
    /* font-family: 'Minion Pro bold'; */
}

.sidenav .closebtn {
    font-size: 2rem;
    padding-top: 1.5rem;
}



/* sub-menu */

.sub-menu section > h1 {
    font-size: 1.5rem !important;
    padding-top: 1.5rem;
}

.sub-menu {
    border-bottom: 1px solid lightgrey;
    margin-left: 250px;
}

.sub-menu,
.sub-menu ul.vertical.menu {
    background-color: #e6e6e6;
}

.sub-menu a {
    margin-top: -1px !important;
    border-bottom: 1px solid white;
    font-family: 'Roboto';
}

.sub-menu a:hover {
    /* margin-top: 0px !important;
    background-color: #465064;
    color: white;
    border-radius: 10px;
    border-width: 0;
    font-family: 'Roboto bold';
    text-decoration: none;
    transform: scale(1.05);
    -moz-box-shadow:    0 2px 5px rgba(0, 0 , 0, .5);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0 , 0, .5);
    box-shadow:         0 2px 5px rgba(0, 0 , 0, .5);
    transition: .25s; */
}

.sub-menu .grid-container {
    margin: 0;
    max-width: 100%;
    padding: 0 1.5rem 1.5rem 1.5rem;
    /* max-height: 31.5rem;
    overflow-y: auto; */
}
