/* foundation overrides */

.grid-container.fluid:first-child {
    /* background image */
    background-image: url("../home-images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

a:hover {
    text-decoration: none;
}


/* / */


/* danny style overrides */

tr {
    background-color: #f2f2f2;
}

td {
    border-color: transparent !important;
}

.special-heading {
    display: inline-block;
}


/* shadow style */

.shadow {
    -webkit-box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.5);
    transition: 0.25s ease-in-out;
}

.shadow:hover {
    -webkit-box-shadow: 4px 8px 25px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 8px 25px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 8px 25px 4px rgba(0, 0, 0, 0.5);
    transition: 0.25s ease-in-out;
    transform: scale(1.02, 1.02);
}


/* / */


/* row 1 */

.hero-content {
    padding: 12rem 0 19rem 0;
}

.hero-content * {
    /* targets everything inside the hero-content */
    color: white;
}


/* getting specific in the hero-content*/

.hero-content p {
    /* these settings are directly copied and pasted from danny's special-heading css
  without including the :after style for the gold line. this css will not affect other
  p tags that used special-heading in the html */
    line-height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    margin-bottom: 0;
}

.hero-content .border {
    /* custom border for the p tag. replaces the gold underline and centers it underneath using margins,
  since its a div */
    background-color: white;
    width: 50px;
    height: 1px;
    margin: 0 auto 1.4rem auto;
}

.hero-content h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
}

.transparent-button {
    /* button style */
    margin: 0 auto;
    /* centers it */
    padding: .625rem 3rem .625rem 3rem;
    border: 2px solid white;
    color: white;
}

.transparent-button:active,
.hero-content .transparent-button:hover {
    text-decoration: none;
    background: white;
    color: black;
    transition: .5s;
}


/* row 1 end */


/* row 2 */

.search-div select {
    background-color: #465064;
    background-image: url('../images/arrow-down-white.png');
    background-position: right;
    background-size: 1.5rem;
    color: white;
}


/* row 2 course table */

.cool-table {
    position: relative;
}

.cool-table tr:nth-child(3n+1)::after {
    content: '';
    display: block;
    position: absolute;
    width: .5rem;
    height: calc(25%);
    top: 0;
    left: 0;
    background-color: #6699cc;
}

.cool-table tr:nth-child(0n+4)::after {
    top: calc(75% - 2px);
}

.cool-table tbody::after {
    content: '';
    display: block;
    position: absolute;
    width: .5rem;
    height: 50%;
    top: calc(25% - 1px);
    left: 0;
    background-color: #77e0ff;
}


/* custom cal */


/* ---------- CALENDAR ---------- */

.calendar {
    position: relative;
    text-align: center;
}

.calendar table {
    margin-bottom: 0rem;
}

.calendar-background-color {
    position: absolute;
    height: 6rem;
    width: 100%;
    background-color: #3E4659;
    z-index: -1;
}

.calendar header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.calendar h1 {
    /* text-transform: uppercase; */
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
    margin-bottom: 0;
}

.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
}

.calendar tbody {
    color: #7c8a95;
}

.calendar tbody td:hover {
    background-color: #f2f2f2;
}

.calendar tr {
    background-color: transparent;
}

.calendar td {
    text-align: center;
}

.calendar-days td {
    padding: .75rem 1rem .75rem 1rem !important;
}

.calendar thead tr:first-of-type td {
    color: white;
    font-weight: normal;
    padding: 0;
}

.calendar .prev-month,
.calendar .next-month {
    color: #cbd1d2;
}

.event {
    background: #5B8EC5;
    color: #f9f9f9;
}

.event:hover {
    color: black;
}

.event {
    /* cursor: pointer; */
    /* position: relative; */
}

.course {
    background: #6BDCFF;
    color: #f9f9f9;
}

.course:hover {
    color: black;
}

.course {
    /* cursor: pointer; */
    /* position: relative; */
}

.btn-prev,
.btn-next {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem;
}

.btn-prev {
    background-image: url('../images/arrow-left-white.png');
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center;
}

.btn-next {
    background-image: url('../images/arrow-right-white.png');
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center;
}

.btn-prev {
    left: 6em;
}

.btn-next {
    right: 6em;
}

.calendar-options {
    display: flex;
    justify-content: space-between;
    /* margin-top: -2px; /* table border width is 2px */
    */
}

.calendar-legend {
    position: relative;
}

.calendar-legend p {
    margin: 0;
}

.calendar-legend p:first-child::after,
.calendar-legend p:last-child::after {
    /* event */
    margin-left: 1rem;
    float: right;
    content: '';
    position: relative;
    display: inline-block;
    top: 3.3px;
    left: 0;
    width: 1rem;
    height: 1rem;
    background-color: #5B8EC5;
}

.calendar-legend p:last-child::after {
    /* course */
    background-color: #6BDCFF;
}

.calendar-container {
    outline: 2px solid #f0f0f0;
    margin-bottom: 1.5rem;
}


/* end of row 2 */


/* row 3 */

.fluid-background {
    background-color: #F0F0F0;
    padding-top: 1.5rem;
}

.course-tabs {
    display: flex;
    justify-content: space-between;
}

ul.menu.stack.course-tabs.stack {
  padding: 0;
}

.course-tabs .button {
    background-color: transparent;
    width: 75px;
    color: #465064;
    outline: 2px solid #465064;
}

@media (min-width: 540px) {
  .course-tabs .button {
      width: 150px;
  }
}

.course-tabs .button:hover {
    background-color: #465064;
    color: white;
    outline: 2px solid #dcdcdc;
}

.course-description h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 0;
}

.course-description p {
    margin-bottom: .5rem;
}

.course-description .button {
  margin-bottom: 2rem;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: .75rem;
}

.info-image {
  background: url('../home-images/courses-image.jpg') no-repeat center;
}
/* end row 4 */

/* row 5 */
.map-image {
    /* height: 36rem; */
    /* max-width: 100%; */
}
/* end row 5 */


/* row 6 */
.shaded-box {
  margin-bottom: 3rem;
}

/* end row 6 */


/* row 7 */

/* end row 7 */
