/* header-nav colors*/

nav.night-mode a {
    color: lightgrey;
}

nav.night-mode .header-nav {
    border-bottom: 1px solid grey;
}

nav.night-mode .header-nav,
nav.night-mode .header-nav ul {
    background-color: #00004d;
}

nav.night-mode .header-nav .sidenav-toggle {
    background-image: url('../images/bars-toggle-white.svg');
}

nav.night-mode .header-nav .sidenav-toggle[aria-expanded="true"] {
    background-image: url('../images/times-toggle-white.svg');
}

nav.night-mode .header-nav .nav-logo-container img {}

nav.night-mode .header-nav .top-bar-left li:not(.nav-logo-container) a:hover,
nav.night-mode .header-nav .top-bar-right li:not(.nav-contact-link) a:hover {
    color: white;
}

nav.night-mode .header-nav .top-bar-left li:not(.nav-logo-container):hover,
nav.night-mode .header-nav .top-bar-right li:not(.nav-contact-link):hover {
    background-color: #008ae6;
}


/* language element */

nav.night-mode .view-more {
    background-image: url('../images/arrow-down-white.png');
}

nav.night-mode .header-nav .nav-contact-link {
    background-color: #f1b10e;
}

nav.night-mode .header-nav .nav-contact-link a {
    color: white;
}


/* sidenav colors-------------------------------------*/

nav.night-mode .sidenav {
    background: #00001a;
    background: -moz-linear-gradient(top, #00004d 0%, #00001a 100%);
    background: -webkit-linear-gradient(top, #00004d 0%, #00001a 100%);
    background: linear-gradient(to bottom, #00004d 0%, #00001a 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00002d', endColorstr='#00001a', GradientType=0);
    outline: 1px solid grey !important;
}

nav.night-mode .sidenav > ul:not(.classes-subnav) > li > a:hover {
    background-color: #008ae6;
    color: white;
}

nav.night-mode .dropdown.menu .is-active > a {
    background-color: #008ae6;
    color: white;
}

nav.night-mode .view-more-right,
nav.night-mode .dropdown.menu .is-active > a {
    background-image: url('../images/right-arrow.png');
}

nav.night-mode .header-nav .nav-language,
nav.night-mode .header-nav .menu .is-active > a {
    background-image: url('../images/arrow-down-white.png');
}

nav.night-mode .header-nav .flyout-language,
nav.night-mode .is-dropdown-submenu {
    border-color: grey;
}

nav.night-mode .header-nav .flyout-language a {
    border-bottom: 1px solid grey;
}

nav.night-mode .header-nav .is-submenu-item:hover {
    border-top: 1px solid grey;
}


/* sidenav-sub colors-------------------------------------*/

nav.night-mode .classes-subnav,
nav.night-mode .classes-subnav ul {
    background-color: #000033;
}

nav.night-mode .classes-subnav h1 {
    color: lightgrey;
}

nav.night-mode .classes-subnav a {
    border-color: grey;
    color: white;
}

nav.night-mode .classes-subnav li a:hover {
    color: #6699cc;
}
