/*owl carousel general*/

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
	display: block;
	width: 4.5rem;
	height: 6rem;
	border-radius: 0;
	background-color: #465064;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1rem 2rem;
	color: white;
	z-index: 999;
}

.owl-carousel .owl-nav button.owl-prev {
	background-image: url(../images/left-arrow.png);
}

.owl-carousel .owl-nav button.owl-next {
	background-image: url(../images/right-arrow.png);
}

.owl-carousel .owl-prev a,
.owl-carousel .owl-prev span,
.owl-carousel .owl-next a,
.owl-carousel .owl-next span {
	display: none;
}

/*quad carousel*/

.quad-carousel .owl-nav button.owl-prev,
.quad-carousel .owl-nav button.owl-next {
	position: absolute;
	top: 50%;
	display: inline-block;
	margin-top: -3rem;
}

.quad-carousel  .owl-nav button.owl-prev {
	left: -.9375rem;
}

.quad-carousel  .owl-nav button.owl-next {
	right: -.9375rem;
}

/*uni carousel*/

.uni-carousel .item {
	position: relative;
}

.uni-carousel.tall .item {
	height: 33rem;
}

.uni-carousel.tall .owl-nav {
	top: 24rem;
}

.uni-carousel .owl-nav {
	position:absolute;
	top: 19.5rem;
	left: -.9375rem;
	display: block;
	width: 9.9375rem;
	height: 6rem;
}

.uni-carousel .owl-nav button.owl-prev,
.uni-carousel .owl-nav button.owl-next {
	display: inline-block;
	width: 4.5rem;
	height: 6rem;
}

.uni-carousel .owl-nav button.owl-prev {
	margin-right: .9375rem;
}

/*big carousel*/

.big-carousel .item {
	position: relative;
}

.big-carousel.tall .item {
	height: calc(100vw / 2);
	max-height: 33rem;
	background-size: cover;
	background-position: center;
}

.big-carousel .owl-nav button.owl-prev,
.big-carousel .owl-nav button.owl-next {
	position: absolute;
	top: 50%;
	display: inline-block;
	margin-top: -3rem;
}

.big-carousel  .owl-nav button.owl-prev {
	left: -.9375rem;
}

.big-carousel  .owl-nav button.owl-next {
	right: -.9375rem;
}

/*jumbo carousel*/

.jumbo-carousel .item {
	position: relative;
}

.jumbo-carousel.tall .item {
	height: calc(100vw / 2);
	height: 45rem;
	background-size: cover;
	background-position: center;
}

.jumbo-carousel .owl-nav button.owl-prev,
.jumbo-carousel .owl-nav button.owl-next {
	position: absolute;
	top: 50%;
	display: inline-block;
	margin-top: -3rem;
	opacity: .1;
	filter: blur(.0625rem);
}

.jumbo-carousel .owl-nav button.owl-prev:hover,
.jumbo-carousel .owl-nav button.owl-next:hover {
	opacity: 1;
	filter: blur(0);
}

.jumbo-carousel  .owl-nav button.owl-prev {
	left: 1.875rem;
}

.jumbo-carousel  .owl-nav button.owl-next {
	right: 1.875rem;
}

.jumbo-carousel .owl-dots {	
	position: relative;
	top: -1.5rem;
	margin-top: -1.5rem;
	display: block;
	height: 1.5rem;
	text-align: center;
}

.jumbo-carousel button.owl-dot {
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	border: .125rem solid white;
	border-radius: .625rem;
	margin: 0 .5rem .125rem .5rem;
	background-color: transparent;
}

.jumbo-carousel .owl-dot.active {
	background-color: white;
}

.jumbo-carousel button.owl-dot:hover {
	background-color: rgba(255,255,255, .2);
}
