.sidenav {
    height: 100%;
    width: 250px;
    margin-top: -1px;
    top: 4.5rem;
    background-color: #f2f2f2;
    transition: 0.25s;
    border-right: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

.sidenav ul {
    background-color: #f2f2f2;
}


.sidenav a:not(.closebtn) {
    font-size: 1rem;
    display: block;
    margin-top: -1px !important;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    padding-top: .6875rem !important;
    padding-bottom: .75rem !important;
}

.sidenav a:not(.closebtn):hover {
    background-color: #e6e6e6;
    width: 250px;
    margin-left: -1rem !important;
    padding-left: 2rem;
}

.sidenav .closebtn {
    font-size: 2rem;
    padding-top: 1.5rem;
}



/* sub-menu */

.sub-menu section > h1 {
    font-size: 1.5rem !important;
    padding-top: 1.5rem;
}

.sub-menu {
    position: fixed;
    border-bottom: 1px solid lightgrey;
    margin-left: 250px;
}

.sub-menu,
.sub-menu ul {
    background-color: #e6e6e6;

}

.sub-menu a {
    margin-top: -1px !important;
    border-bottom: 1px solid white;
    font-family: 'Roboto';
    padding-left: 0;
}

.sub-menu a:hover {

}

.sub-menu .grid-container {
    margin: 0;
    max-width: 100%;
    padding: 0 1.5rem 1.5rem 1.5rem;
}
