/* sub-menu */

.js-dropdown-active > ul {
    transition: 2s;
}

.classes-subnav {
    position: absolute;
    top: -97px !important;
    left: 250px !important;
    padding: 1.5rem;
    width: calc(100vw - 250px);
    height: 100vh;
    overflow: scroll;
}

.classes-subnav,
.classes-subnav ul {
    background-color: #e6e6e6;
}

.classes-subnav ul {
    margin-bottom: 0;
}

.classes-subnav h1 {
    font-size: 1.5rem !important;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    padding-left: 1rem;
}

.classes-subnav a {
    margin-top: -1px !important;
    border-bottom: 1px solid lightgrey;
    color: grey;
    /* text-transform: uppercase; */
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.classes-subnav li a:hover {
    /* background-color: #d9d9d9 !important; */
    /* border-radius: 5px; */
    text-decoration: underline;
    /* transform: scale(1.1); */
    transition: .15s;
    color: #6699cc;
}
