nav .js-off-canvas-overlay.is-overlay-fixed {
    opacity: 0;
}

nav .off-canvas.is-transition-overlap.is-open {
    box-shadow: none;
}

.sidenav {
    top: 4.5rem;
    background-color: #f2f2f2;
    outline: 1px solid lightgrey !important;
}

.sidenav a {
    padding: .75rem !important;
    margin-bottom: 0;
}

.sidenav a:hover {
    text-decoration: none;
}

.sidenav > ul > li a:not(a.classes-subnav):hover {
    background-color: #e6e6e6;
}

.dropdown.menu .is-active > a {
    background-color: #e6e6e6;
    color: #6699cc;
}

.sidenav > .menu {
    padding: 0;
}

.close-btn {
    font-size: 1.5rem;
    margin-bottom: 0 !important;
}

.view-more-right,
 .dropdown.menu .is-active > a {
    background-image: url(../images/right-arrow-black.png);
    background-repeat: no-repeat !important;
    background-position: calc(100% - 1rem) center !important;
    background-size: .5rem auto !important;
}

.dropdown.menu.vertical > li.opens-right > a::after,
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    display: none;
}

nav .position-left {
    overflow: visible;
}
