/* sub-menu */

.sub-menu section > h1 {
    font-size: 1.5rem !important;
    padding-top: 1.5rem;
}

.sub-menu {
    position: fixed;
    border-bottom: 1px solid lightgrey;
    margin-left: 250px;
}

.sub-menu,
.sub-menu ul {
    background-color: #e6e6e6;

}

.sub-menu a {
    margin-top: -1px !important;
    border-bottom: 1px solid white;
    font-family: 'Roboto';
    padding-left: 0;
}

.sub-menu a:hover {

}

.sub-menu .grid-container {
    margin: 0;
    max-width: 100%;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

main {
    margin: 3rem;
}

.sub-menu {
    display: none;
}

nav .js-off-canvas-overlay.is-overlay-fixed {
    opacity: 0;
}

.off-canvas.is-transition-overlap.is-open {
    box-shadow: none;
}


.position-left {
    overflow: visible;
}

.classes-subnav {
    position: absolute;
    top: -97px !important;
    left: 233px !important;
    padding: 1.5rem;
    width: calc(100vw - 250px);
    height: 100vh;
}

.classes-subnav a:hover {
    width: auto !important;
}
