@import 'fonts.css';

/*broswer user agent reset*/

*{
	outline: 1px solid rgba(0, 255, 0, .5);
	margin: 0px;
	border: none;
	padding: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-margin-padding: 0px; /*rule not specific enough*/
	-webkit-padding-start: 0px;
	list-style: none;
}

/*baseline overlay*/

#baseline-overlay{
	z-index: 10;
	opacity: 1;
	position: absolute;
	height: 12000px;
	width: 100%;
	background-image: url('../images/24px-baseline.png');
	pointer-events: none;
}

/*12 column overlay*/

/* #column-overlay{
	z-index: 1;
	opacity: .3;
	position: absolute;
	height: 12000px;
	width: 100%;
	background-image: url('../images/1200px-12-column.png');
	background-position: center;
	background-repeat: repeat-y;
	pointer-events: none;
} */

/*12 column with gutters overlay*/

/* #column-overlay{
	z-index: 10;
	opacity: .3;
	position: absolute;
	height: 12000px;
	width: 100%;
	background-image: url('../images/1200px-12-column-30px-gutter.png');
	background-position: center;
	background-repeat: repeat-y;
	pointer-events: none;
} */

/*define rem value*/

html {
	font-size: 16px;
}

/*white space*/

article {
	margin-bottom: 4.5rem;
}

section {
	margin-bottom: 1.5rem;
}

article section p:last-child{
	margin-bottom: 0;
}

/*typography, basline grid and modal scale*/

/*overflow-x fixes horizontal scollbar on small screens*/
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5rem;
	margin: 0;
}

ul, ol, dl, h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif;
	color: #222;
}

h1,
h2,
h3 {
	line-height: 3rem;
	margin: 0 0 1.5rem 0;
}

h4,
h5,
h6 {
	line-height: 1.5rem;
	margin: 0 0 1.5rem 0;
}

h1{
	font-family: 'Minion Pro';
	font-size: 2rem;
	}

h2{
	font-size: 1.75rem;

}

h3{
	font-size: 1.5rem;
}

h4{}

h5{}

h6{}

h1 + h2,
h1 + h3,
h1 + h4,
h1 + h5,
h1 + h6,
h2 + h1,
h3 + h1,
h4 + h1,
h5 + h1,
h6 + h1{
	margin-top: -1.5rem;
}

p {
	line-height: 1.5rem;
	margin-bottom: 3rem;
	color: #444;
}

p + p {
	margin-top: -1.5rem
}


p:last-child {
	margin-bottom: 1.5rem;
}

ul, ol, dl {
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 1.5rem;
	color: #444;
}

ul li,
ol li,
dl dt,
dl dd {
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 0;
}

a, span{
	font-size: 1rem;
	line-height: 1.5rem;
	display: inline-block; /*display and margin needed for chrome 1px offset*/
	margin-top: -1px;
}

a{
	color: #465064;
}

a:hover{
	text-decoration: underline;
	color: #465064;
}

hr {
	width: 100%;
	height: 0;
	padding: 22px 0 0 0;
	margin: 0 0 1.5rem 0;
	border-bottom: 1px solid white;
}

/*typography for table elements*/

table {
	border-collapse: separate;
	border-spacing: 0px;
	border-width: 1px 0 0 1px;
	border-style: inset;
	border-color: #dcdcdc;
	margin-top: -1px;
	margin-bottom: 1.5rem;
}

table thead,
table tbody,
table tfoot {
	border: none;
}

/*table border subtracted from padding*/

table thead tr th,
table tbody tr th,
table tfoot tr th,
table thead tr td,
table tbody tr td,
table tfoot tr td,
table tr th,
table tr td {
	padding: 12px .9375rem 11px .9375rem;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #dcdcdc;
	line-height: 1.5rem;
	background-color: transparent;
	vertical-align: baseline;
}

table thead tr:nth-child(even),
table tbody tr:nth-child(even),
table tfoot tr:nth-child(even),
table tr:nth-child(even),
table tr:nth-child(even),
table tr:nth-child(even) {
	background-color: transparent;
}

tr th,
tr td,
tr th *,
tr td *,
tr th a,
tr td a {
	margin: 0;
	font-weight: bold;
	color: #465064;
}

tr th img,
tr td img {
	display: inline-block;
	height: 23px;
	width: auto;
}

/*typography miscellaneous elements*/

/*typography for form elements*/

.form-spacer {
	height: 1.5rem;
	margin-bottom: 0;
}

/*tip: use postion:relative to postion elements vertically—us a value less than or equal to margin-bottom*/

label{
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 0;
	color: #444;
}

/*bug: height or margin-bottom rulr breaks alignment of next element*/

input[type=checkbox] {
	position: relative;
	top: .75rem;
	line-height: 1.5rem;
	margin-bottom: 1.5rem;
	color: #444;
}

/*workaround allows postioning next to checkbox inputs*/

input[type=checkbox] + label {
	position: relative;
	top: .75rem;
	margin-bottom: 1.5rem;
}

input[type=text],
input[type=email],
input[type=tel],
select {
	position: relative;
	top: .375rem;
    height: 2.25rem;
    line-height: 1.5rem;
    padding: .3125rem .5rem .3125rem .5rem;
    border: .0625rem solid #dcdcdc;
    border-radius: 0;
    margin-bottom: 2.25rem; /*.75rem + 1.5rem = 2.25rem*/
    background-color: rgb(245, 245, 245);
    color: #444;
}

textarea {
	position: relative;
	top: .375rem;
	height: 6.75rem;
	line-height: 1.5rem;
    padding: .3125rem .5rem .3125rem .5rem;
    border: .0625rem solid #dcdcdc;
    border-radius: 0;
    margin-bottom: 2.25rem;
    background-color: rgb(245, 245, 245);
    color: #444;
}

button[type=submit]{
	position: relative;
	top: .375rem;
	height:2.25rem;
	padding: .3125rem 1rem .3125rem 1rem;
	margin-bottom: 2.25rem;
	border: 1px solid #dcdcdc;
	border-radius: 0;
	background-color: white;
	color: #444;
}

/*foundation class overides*/

.menu,
.menu a {
	line-height: 1.5rem;
	padding:0 1rem 0 1rem;
	margin-top:0;
	margin-bottom: 1.5rem;
}

img {
	max-width: initial;
}

.responsive-embed {
	margin: 0;
}

button {
	font-size: 1rem;
	line-height: 1.5rem;
	padding: .75rem 3rem .75rem 3rem;
	border: none;
	border-radius: 0;
	background-color: #465064;
	color: white;
}

.button {
	font-size: 1rem;
	line-height: 1.5rem;
	padding: .75rem 3rem .75rem 3rem;
	border: none;
	border-radius: 0;
	margin: 0 0 3rem 0;
	background-color: #dcdcdc;
	color: #444;
	text-transform: uppercase;
}

.button:hover {
	background-color: #dcdcdc;
	color: #444;
}

.button.full {
	width: 100%;
}

.button.big {
	line-height: 1.5rem;
	padding: 1.5rem 3rem 1.5rem 3rem;

}

.button.dark{
	background-color: #465064;
	color: white;
}

.button.nuetral{
	background-color: #dcdcdc;
	color: #444;
}

.button.light{
	background-color: white;
	color: #444;
	outline: 1px solid #465064;
}

.button.dark:hover{
	background-color: #465064;
}

.button.nuetral:hover{
	background-color: #dcdcdc;
}

.button.light:hover{
	background-color: white;
}

/*custom classes*/

/*container classes*/

.container-6 {
	max-width: 37.5rem;
}

/*wrapper classes*/

.wrapper{
	overflow: hidden;
}

/*boundry gutters*/

.expand-padding > *:first-child {
	padding-left: 0;
}

.expand-padding > *:last-child {
	padding-right: 0;
}

/*media*/
.map-wrapper,
.video-wrapper {
	height: 21rem;
}

/*responsive image sprites*/

.responsive-sprite {
	display: inline-block: block;
	height: 30rem;
	width: 100%;
	margin-bottom: 1.5rem;
	background-size: cover;
	background-position: center;
}

/*heading style for flying academy*/

.special-heading {
	line-height: 3rem;
	font-size: 1.125rem;
	text-transform: uppercase;
	color: #666;
}

h1 + .special-heading,
.special-heading + p {
	margin-top: -1.5rem;
}

.special-heading + h1{
	margin-top: -3rem;
}

.special-heading:before {
	content: '';
	display: inline-block;
	width: 1.4em;
	height: .1875rem;
	margin-left: -1.4rem;
	position: relative;
	top: .75rem;
	left: 1.4em;
	background-color: gold;
}

/*outline design classes*/

.inset-outline::after{
	content:'';
	position: absolute;
	top:0;
	left:0;
	display: block;
	width:100%;
	height: 100%;
	outline: 2px solid white;
	outline-offset: -.75rem;
}

.double-outline{
	position: relative;
}

.double-outline::before {
	content: '';
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: .125rem solid rgb(175, 175, 175);
	outline-offset: -2px;
	pointer-events: none;
}

.double-outline::after {
	content: '';
	position:absolute;
	top: 1.5rem;
	left: -.9375rem;
	width: calc(100% + 1.875rem);
	height: calc(100% - 3rem);
	outline: 1px solid #dcdcdc;
	pointer-events: none;
}

/*page navigation*/

.page-nav{
	position: relative;
	min-height: 15rem;
	padding-top: 1.5rem;
	margin-bottom: 6rem;
	background-image: url(../images/img-pilot-courses.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.page-nav::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 40, .8));
}

.page-nav ul {
	max-width: 75rem;
	margin: auto;
}


.page-nav div {
	position: relative;
	height: 15rem;
}

.page-nav ul{
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: -.9375rem;
	margin-bottom: 0;
	z-index: 1;
}


.page-nav ul li a{
	font-size: 1rem;
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.page-nav ul li a:hover{
	text-decoration: underline;
}

/*centered info*/

.centered-info {
	text-align: center;
}

/*shaded boxes*/

.shaded-box {
	position: relative;
	padding: 4.5rem 3rem;
	background-size: cover;
	z-index:1;
	text-align: center;
}

.shaded-box *{
	color: white;
}

.shaded-box::after {
	content:'';
	position: absolute;
	top:0;
	left:0;
	display: block;
	width:100%;
	height: 100%;
	background: linear-gradient(#465064, #46505a);
	opacity: .9;
	z-index: -1;
}

.shaded-box .button {
	margin-bottom: -9rem;
	background-color: white;
	color: #444;
	outline: 1px solid #dcdcdc;
	z-index: 200;
}

/*quad banner*/

.info-banner {
	position: relative
}

.info-banner .button {
	text-transform: uppercase;
}

.info-banner .float-image {
	position: absolute;
	top: 0;
	left: 35%;
	width: 60rem;
	height: 37.5rem;
	z-index: -1;
}

/*quad carousel*/

.quad-carousel .item{
	position: relative;
	min-height: 15rem;
	padding: 1.5rem;
	outline: none;
	background-size: cover;
	background-position: center center;
	color: white;
	box-shadow: inset 0rem 0rem 12rem rgba(00, 10, 40, .7);
	z-index: 0;
}

.quad-carousel .item::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	outline: 1px solid white;
	outline-offset: -.75rem;
	background: linear-gradient(#465064, #46505A);
	opacity: 0;
	z-index: -2;
	transform: scale(0);
	transition: transform .5s;
}

.quad-carousel .item * {
	text-align: center;
	color: white;
	font-weight: 300;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
	margin-bottom: 0;
}

.quad-carousel h2 {
	font-size: 1.25rem;
}

.quad-carousel h2.layer-1{
	position: absolute;
	bottom: 0rem;
	left: 0rem;
	padding: 0rem 1.5rem;
	z-index: 1;
}

.quad-carousel .layer-2 {
	opacity: 0;
	transform: scale(0);
	transition: transform .5s;
}

.quad-carousel .item:hover .layer-1 {
	opacity: 0;
}

.quad-carousel .item:hover .layer-2{
	opacity: 1;
	transform: scale(1)
}

.quad-carousel .item:hover::after {
	opacity: .9;
	transform: scale(1)
}

/*image caption*/

.image-caption {
	position:relative;
	height: 21rem;
	background-size: cover;
	box-shadow: .5rem .5rem 1.5rem rgba(0, 0, 20, .2);
}

.image-caption h2 {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0rem 1.5rem;
	margin-bottom: 0 ;
	background-color: white;
	outline: 1px solid gray;
	outline-offset: -1px;
	color: gray;
	font-weight: light;
}

/*contact form*/

.colossal-form{
	padding-bottom: 1.5rem;
	margin-bottom: 6rem;
}

.colossal-form h1 {
	font-size: 2.25rem;
	margin-top: 3rem;
}


/*media queries*/

@media screen and (orientation: portrait) {

	form.grid-container,
	form::before,
	form::after {
		outline: none;
	}

	.form-spacer{
		display: none;
	}

	input[type=checkbox] {
	position: relative;
	top: 0;
	line-height: 1.5rem;
	margin-bottom: 1.5rem;
	color: #444;
	}

	/*workaround allows postioning next to checkbox inputs*/

	input[type=checkbox] + label {
		position: relative;
		top: 0;
		margin-bottom: 1.5rem;
	}

	.info-banner .float-image {
		opacity: .2;
	}
}

@media screen and (orientation: landscape) {}

/*conditional rules for firefox*/
@-moz-document url-prefix() {}
